.calendar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

.calendar-header img {
    cursor: pointer;
}

.calendar-header h1 {
    font-size: 24px;
    text-align: center;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    width: 80%;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.day {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}

.empty-day {
    background-color: #cccccc;
}

.course-1, .course-2 {
    margin-top: 5px;
    font-size: 0.8em;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
}

.course-1 {
    background-color: #008b8b;
}

.course-2 {
    background-color: #8a2be2;
}

.course-1 a, .course-2 a {
    color: white;
    text-decoration: none;
}

/*DIAS DE LA SEMANA*/
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
    width: 80%;
}

.weekday {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    background-color: #ddd;
    border-radius: 5px;
}