.cesta-container {
    padding: 4em 5em;
}

.cesta-curso {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25em;
    gap: 3.125em;

    /*img {
        height: 4.25rem;
        width: 7.5rem;
    }*/
}

.carro-vacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carro-vacio p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.curso-desc {
    display: flex;
    gap: 1.25rem;
}

.course-details {
    display: flex;
    flex-direction: column;
    gap: .3125rem;

    .name {
        text-decoration: none;
        color: #000000;
        font-size: 1.25rem;
        font-weight: 600;
    }
}

.most-sold-p {
    min-width: 7.625rem;
    padding: .3125rem;
    background-color: #eceb98;
    color: #3d3c13;
    font-weight: 600;
}

.detalles-del-curso {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    font-size: .75rem;
    color: #6a6f73;

    hr {
        border: none;
        height: .3688rem;
        width: .3688rem;
        align-self: center;
        border-radius: 50%;
        background-color: #6a6f73;
        margin: 5px 0px;
    }
}

.cart-precio-p {
    font-size: 2.5rem;
    font-weight: 600;
}

.descuento {
    text-decoration: line-through;
    color: #6a6f73;
}

.stars {
    min-width: 5.8rem;
}

.pagar {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    border-radius: 0rem;
    background-color: #008000;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
}

.pagar:hover {
    background-color: #90ee90;
}

.promocion {
    margin-top: 0.25em;
}

.cart-precio {
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

.cart-pago {
    hr {
        margin-top: .9375rem;
        width: 20rem;
    }
}

.most-sold {
    display: flex;
    align-items: center;
    gap: .625rem;

    .checked {
        color: #ffa500;
    }
}

.valoraciones {
    color: #6a6f73;
    font-size: .75rem;
    min-width: 7.25rem;
    align-self: center;
}

.cupon-div {
    display: flex;
    width: 20rem;

    input {
        width: 80%;
        padding: .1875rem;
        box-sizing: border-box;
        border: .0625rem solid #000000;
    }

    button {
        height: 2.125rem;
        border-radius: 0;
        background-color: #008000;
        box-sizing: border-box;
        font-weight: 700;
        width: 20%;
    }

    button:hover {
        background-color: #90ee90;
    }
}

.total {
    color: #808080;
    font-weight: 600;
}

.sidebar {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cerrarSidebarBtn,
.eliminar-curso {
    background-color: #808080;
    padding: 5px 10px;
}

.cerrarSideBarBtn:hover {
    background-color: #696969;
}

.mensajeVacio {
    text-align: center;
    margin: 20px 0;
    display: none;
}

#listaSidebar {
    padding: 10px;
    margin: 20px 0;
    flex-grow: 1;
    overflow-y: auto;
}

#listaSidebar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.eliminar-curso:hover {
    background-color: #dc3545;
}

.totalSidebar {
    padding: 10px 0;
    border-top: 1px solid #dddddd;
    text-align: center;
}

.irCarritoBtn {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #008000;
    margin-top: 10px;
}

.irCarritoBtn:hover {
    background-color: #90ee90;
}

/*DESDE px HASTA 768px INCUIDO*/
@media (min-width: 768px) and (max-width: 1024px) {
    .cesta-curso {
        display: flex;
        flex-direction: column;
    }

    .cart-pago {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
            margin-top: .9375rem;
            width: 20rem;
        }
    }
}

/*DESDE 601px HASTA 768px INCUIDO*/
@media (min-width: 650px) and (max-width: 768px) {
    .cesta-curso {
        display: flex;
        flex-direction: column;
    }

    .cart-pago {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
            margin-top: .9375rem;
            width: 20rem;
        }
    }
}

/*HASTA 600px INCUIDOS*/
@media (max-width: 650px) {
    .cesta-curso {
        display: flex;
        flex-direction: column;
    }

    .valoraciones {
        display: none;
    }

    .cart-pago {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
            margin-top: .9375rem;
            width: 20rem;
        }
    }

    .cesta-container {
        padding: 2em 1em;
    }
}