.cesta-container {
    padding: 4em 5em;
}

.cesta-curso {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25em;
    gap: 3.125em;

    img {
        height: 4.25rem;
        width: 7.5rem;
        border-radius: 5px;
    }
}

.carro-vacio p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.carro-cargado {
    flex-wrap: wrap;
    gap: 1em;
}

.curso-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 4em;
    padding: 1em;
    border: 1px solid #dddddd;
}

.course-details {
    width: 10em;
}

.tipo-curso,
.cantidad-personas {
    color: #808080;
}

.cart-precio-p {
    font-size: 1.5rem;
    font-weight: bold;
}

.cart-precio-p {
    font-size: 2.5rem;
    font-weight: 600;
}

.pagar {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    border-radius: 0rem;
    background-color: #008000;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
}

.pagar:hover {
    background-color: #90ee90;
}

.promocion {
    margin-top: 0.25em;
}

.cart-precio {
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

.cart-pago {
    hr {
        margin-top: .9375rem;
        width: 20rem;
    }
}

.cupon-div {
    display: flex;
    width: 20rem;

    input {
        width: 80%;
        padding: .1875rem;
        box-sizing: border-box;
        border: .0625rem solid #000000;
    }

    button {
        height: 2.125rem;
        border-radius: 0;
        background-color: #008000;
        box-sizing: border-box;
        font-weight: 700;
        width: 20%;
    }

    button:hover {
        background-color: #90ee90;
    }
}

.total {
    color: #808080;
    font-weight: 600;
}

.sidebar {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 0 1em#000000;
    z-index: 1000;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cerrarSidebarBtn,
.eliminar-curso {
    background-color: #808080;
    padding: 5px 10px;
}

.cerrarSideBarBtn:hover {
    background-color: #696969;
}

.mensajeVacio {
    text-align: center;
    margin: 20px 0;
    display: none;
}

#listaSidebar {
    padding: 10px;
    margin: 20px 0;
    flex-grow: 1;
    overflow-y: auto;
}

#listaSidebar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    height: 2.5em;
}

.eliminar-curso:hover {
    background-color: #dc3545;
}

.totalSidebar {
    padding: 10px 0;
    border-top: 1px solid #dddddd;
    text-align: center;
}

.irCarritoBtn {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #008000;
    margin-top: 10px;
}

.irCarritoBtn:hover {
    background-color: #90ee90;
}

/*DESDE px HASTA 768px INCUIDO*/
@media (min-width: 768px) and (max-width: 1024px) {
    .cesta-curso {
        display: flex;
        flex-direction: column;
    }

    .curso-desc {
        width: auto;
        margin: auto;
    }

    .cart-pago {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
            margin-top: .9375rem;
            width: 20rem;
        }
    }
}

/*DESDE 601px HASTA 768px INCUIDO*/
@media (min-width: 650px) and (max-width: 768px) {
    .cesta-curso {
        display: flex;
        flex-direction: column;
    }

    .curso-desc {
        width: auto;
        margin: auto;
    }

    .cart-pago {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
            margin-top: .9375rem;
            width: 20rem;
        }
    }
}

/*HASTA 600px INCUIDOS*/
@media (max-width: 650px) {
    .cesta-curso {
        display: flex;
        flex-direction: column;
    }

    .curso-desc {
        width: auto;
        margin: auto;
    }

    .cart-pago {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
            margin-top: .9375rem;
            width: 20rem;
        }
    }

    .cesta-container {
        padding: 2em 1em;
    }
}