.main {
    padding: 5em 10em;
    text-align: center;
}

.contact-form {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}

.contact-form__items {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 45%;
    
    .contact-form__input {
        padding: .3125rem;
        height: 1.875rem;
        border-radius: .5rem;
        border: .0625rem solid black;
        outline: none;
        box-sizing: border-box;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .contact-form__textarea {
        resize: none;
        width: 100%;
        height: 12.5rem;
        outline: none;
        padding: .3125rem;
        box-sizing: border-box;
    }

}

.contact-form__submit {
    width: 5em;
    border-radius: .3125em;
    border: none;
    color: white;
    background-color: gray;
    height: 2.1875rem;
    align-self: flex-end;
}

.contact-form__submit:hover {
    background-color: rgb(75, 75, 75);
}

.contact-contenedor-info {
    padding: 1.5em;
    width: 45%;
    display: flex;
    flex-direction: column;
    
    .logo-empresa{
        width: 40%;
        align-self: center;
        margin-top: 7%;         
    }
}

.contact-info{ 
    margin-top: 1.5em;
    text-align: center;
    
    img{
        width: 1em;
    }

    p{
    display: inline-block;
    margin-bottom: 0.5em;
    }
}

.location-section {
    margin-top: 3.125em;

    .location-section__map {
        border: .0625em solid black;
        height: 25em;
        margin: 1.25em;
        margin-bottom: 2.5em;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 768px){
    .main {
        padding: 5em 5em;
    }
}