.contenedor-curso {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 5%;
    padding: 4% 10%;
}

.imagen-curso img {
    height: 10em;
    width: 10em;
    border-radius: 1em;
}

.detalle-curso h3 {
    margin-bottom: 0.5em;
}

.detalle-curso ul {
    line-height: 2em;
}

li {
    list-style: none;
}

.detalle-curso__descripcion {
    font-size: 14px;
    margin-left: 2em;
    text-align: justify;
}

.contenedor-botones-curso {
    display: flex;
    gap: 1em;
    padding-top: 1em;
}

.boton-inscripcion {
    background-color: #008000;
    font-weight: bold;
}

.boton-inscripcion:hover {
    background-color: #90ee90;
    cursor: pointer;
}

.boton-volver {
    background-color: #2e2e2d;
    font-weight: bold;
}

/*PARA EL DETAIL & SUMMARY*/
.contenido-clase {
    padding: 0 10%;
    margin-bottom: 2em;
}

.contenedor-detalle {
    margin-top: 1.5em;
    border-style: solid;
    padding: 1%;
    padding-left: 5em;
    border-radius: 16px;
    line-height: 2em;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5em;
    margin-bottom: 1em;
}

summary::-webkit-details-marker {
    display: none;
}

:root {
    --fontColor: #000000;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16' %3E%3Cpath fill='currentColor' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' /%3E%3C/svg%3E")
}

summary::after {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    mask-image: var(--svg);
    mask-size: cover;
    -webkit-mask-image: var(--svg);
    -webkit-mask-size: cover;
    background-color: var(--fontColor);
    transition: 0.2s;
}

details[open]>summary::after {
    transform: rotate(180deg);
}

.titulo-unidad {
    font-weight: bold
}

.lista-contenidos {
    width: 100%;
    margin-right: 5em;
    display: flex;
    justify-content: space-between;
}

.contenedor-detalle li {
    margin-left: 2em;
    display: flex;
    align-items: center;
}

.contenedor-detalle a {
    text-decoration: none;
    color: #2e2e2d;
}

.contenedor-detalle a:hover {
    text-decoration: none;
    color: #0000ff;
}

.formato-input {
    margin-right: 3em;
    accent-color: #808080;
}

.icono-contenidos {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}

/*ARTICLE*/
.contenedor-docente {
    background-color: #808080;
    padding: 1em 5em;
    display: flex;
    justify-content: left;
}

.contenedor-docente img {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.contenedor-docente_detalle {
    margin-left: 2em;
}

.contenedor-docente_detalle p {
    text-align: justify;
}

.estrella {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 1% 0;
}

/*ASIDE*/
.contenedor-publicidad-cursos {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    gap: 1em;
}

.publicidades {
    width: 15em;
    height: 20em;
    border-style: solid;
    border-radius: 16px;
    padding: 0.5em;
    position: relative;
}

.imagen img {
    max-width: 100%;
    border-radius: 1em;
    height: 215px;
    width: 100%;
}

.detalle-de-curso {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalle-de-curso span {
    font-size: 1.5em;
}

b {
    margin: 0.5em;
}

.detalle-de-curso-der {
    text-align: center;
    margin-top: 1em;
    min-width: 101px;
}

.detalle-de-curso-der h4 {
    margin-bottom: 0.25em;
}

.detalle-de-curso-der h6 {
    margin: 0.5em auto;
    max-width: 90px;
}

.publicidades-precio {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 2px 5px;
    position: absolute;
    right: 1em;
    top: 11em;
    border-radius: 0.5em;
}

/*DESDE px HASTA 768px INCUIDO*/
@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor-publicidad-cursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
        width: 70%;
    }

    .detalle-de-curso-der h4 {
        font-size: 14px;
    }

    .cursos-destacados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*DESDE 481px HASTA 768px INCUIDO*/
@media (min-width: 480px) and (max-width: 768px) {
    .contenedor-publicidad-cursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2em;
        gap: 2em;
        width: 70%;
    }

    .detalle-de-curso-der h4 {
        font-size: 13px;
    }

    .cursos-destacados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-docente_detalle p {
        font-size: 14px;
    }

    .contenedor-docente {
        padding: 1em 3.5em;
    }

    .contenedor-detalle {
        padding-left: 2.5em;
    }

    .contenedor-detalle li {
        margin-left: 1em;
    }

    .lista-contenidos {
        margin-right: 1em;
    }

    .formato-input {
        margin-right: 0;
    }

    .contenido-clase {
        padding: 4% 5%;
    }

    .contenedor-curso {
        gap: 3.5%;
        padding: 4% 7%;
    }

    .imagen-curso img {
        height: 8em;
        width: 8em;
    }

    .detalle-curso__descripcion {
        font-size: 12.5px;
        margin-left: 1.75em;
    }
}

/*HASTA 480px INCUIDOS*/
@media (max-width: 480px) {

    .contenedor-publicidad-cursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
        width: 70%;
    }

    .detalle-de-curso-der h4 {
        font-size: 12px;
    }

    .cursos-destacados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-docente_detalle p {
        font-size: 12px;
    }

    .contenedor-docente {
        padding: 1em 2em;
    }

    .contenedor-detalle {
        padding-left: 1em;
    }

    .contenedor-detalle li {
        margin-left: 0.5em;
    }

    .lista-contenidos {
        margin-right: 1em;
    }

    .formato-input {
        margin-right: 0;
    }

    .contenido-clase {
        padding: 4% 5%;
    }

    .contenedor-curso {
        gap: 2%;
        padding: 4% 5%;
    }

    .imagen-curso img {
        height: 6em;
        width: 6em;
    }

    .detalle-curso__descripcion {
        font-size: 11px;
        margin-left: 1.5em;
    }
}