.contenedor-footer {
    background-color: #26272b;
    color: #737373;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 10px 5%;
}

/*ALINEA LAS 3 COLUMNAS EN FILA*/
#fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*TITULOS DE COLUMNAS*/
#fila h5 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #ffffff;
    margin: 15px 0px;
}

.listas-footer {
    list-style-type: none;
}

.listas-footer li {
    margin-bottom: 10px;
}

.listas-footer a {
    text-decoration: none;
    color: inherit;
}

.listas-footer a:hover {
    color: rgb(61, 61, 247);
}

/*COLUMNA DE ICONOS*/
.contenedor-redes {
    display: flex;
}

.iconos {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #33353D;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 5px;
}

.iconos.facebook:hover {
    background-color: #0884f0;
}

.iconos.twitter:hover {
    background-color: #6dd8ff;
}

.iconos.instagram:hover {
    background-color: #ea4c89;
}

.iconos.linkedin:hover {
    background-color: #007bb6;
}

hr {
    margin-bottom: 10px;
}

@media (max-width: 768px){
    #fila h5 {
        font-size: 14px;
    }

    .listas-footer li,p {
        font-size: 14px;
    }
}
