main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
    background-color: #f0f0f0;
}

.contenedor-giftcard {
    display: flex;
    gap: 30px;
    width: 60%;
}

h1 {
    margin-bottom: 5px;
    text-align: center;
}

/* VISTA PREVIA */
.giftcard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px #0000001a;
    width: 40%;
}

.vistaPrevia {
    height: 300px;
    border: 2px solid #dddddd;
    background-color: #808080;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.vistaPrevia span {
    font-weight: bold;
}

.valor {
    position: absolute;
    font-size: 20px;
    bottom: 2px;
    right: 20px;
}

.top-left {
    top: 2px;
    left: 20px;
    bottom: auto;
    right: auto;
}

.top-right {
    top: 2px;
    right: 20px;
    bottom: auto;
    left: auto;
}

.bottom-left {
    bottom: 2px;
    left: 20px;
    top: auto;
    right: auto;
}


/* DETALLE */
.detalle-giftcard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px #0000001a;
    width: 60%;
    box-sizing: border-box;
}

.detalle-giftcard h1 {
    font-size: 22px;
}

.detalle-giftcard h4 {
    margin: 5px 0;
}

.detalle-giftcard input[type="text"],
.detalle-giftcard input[type="number"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
}

.detalle-giftcard input[type="radio"] {
    margin: 10px 5px;
}

.detalle-giftcard input[type="radio"]:checked {
    color: #3498db;
}

#agregarGiftCard {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

#agregarGiftCard:hover {
    background-color: #2980b9;
}

/*OPCIONES*/
.opciones-color div,
.opciones-ubicacion div,
.opciones-fondo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*OPCIONES COLOR NOMBRE*/
.opciones-color {
    display: flex;
    gap: 10px;
}

.color-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.color-negro {
    background-color: #000000;
}

.color-blanco {
    background-color: #ffffff;
}

.color-azul-oscuro {
    background-color: #1c1c3c;
}

.color-marron {
    background-color: #4b3b2b;
}

.color-rojo {
    background-color: #8b0000;
}

/* UBICACION MONTO */
.opciones-ubicacion {
    display: flex;
    gap: 10px;
}

.ubicacion-icon {
    width: 32px;
    height: 24px;
    cursor: pointer;
}

/* OPCIONES FONDO */
.opciones-fondo {
    display: flex;
    gap: 10px;
}

.fondo-icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
}

/*DESDE px HASTA 768px INCUIDO*/
@media (min-width: 768px) and (max-width: 1024px) {
    .giftcard {
        width: 40%;
    }

    .contenedor-giftcard {
        width: 90%;
    }
}

/*HASTA 480px INCUIDOS*/
@media (max-width: 768px) {
    .contenedor-giftcard {
        display: flex;
        flex-direction: column;
    }

    .giftcard {
        width: 90%;
    }

    .detalle-giftcard {
        width: 100%;
    }
}