body {
    overflow-x: hidden;
    /* Evita el desplazamiento horizontal */
}

/*SLIDER*/
.slider {
    width: 100%;
}

.slider__container {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slider__item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    /* Posiciona el texto sobre cada una de las imágenes */
    display: flex;
    justify-content: center;
    align-items: center;
}

.course {
    width: 100%;
    height: 400px;
}

.course-info {
    position: absolute;
    top: 180px;
    left: 150px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    padding: 0 10px;
    max-width: 70%;
}

.course-info h1 {
    font-size: 40px;
}

.course-info h3 {
    font-size: 20px;
}

/* NAVEGACIÓN DEL SLIDER */
.slider__navegation {
    display: flex;
    position: absolute;
    top: 40%;
    width: 100%;
    justify-content: space-between;
}

.slider__navegation button {
    background-color: transparent;
    border: none;
}

/*PASOS INSCRIPCIÓN*/
.inscription-guide {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.inscription-steps {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.inscription-item {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 20px;
    width: 340px;
}

.inscription-item span {
    font-size: 18px;
    padding-left: 10px;
}

/*DESTACADOS*/
.cursos-destacados h2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 32px;
}

/*TARJETAS*/
.payment-methods {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 30px;
}

.payment-methods--aclaration {
    text-align: center;
}

.payments-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    gap: 1em;
}

.payment-methods--item {
    width: 200px;
    height: 200px;
}

/*DESDE px HASTA 768px INCUIDO*/
@media (min-width: 768px) and (max-width: 1024px) {

    .course-info {
        left: 100px;
    }

    .inscription-steps {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0 10em;
    }

    .inscription-item {
        margin: 1em;
    }
}

/*DESDE 481px HASTA 768px INCUIDO*/
@media (min-width: 480px) and (max-width: 768px) {
    .course {
        max-height: 350px;
    }

    .course-info h1 {
        font-size: 35px;
    }

    .course-info {
        top: 110px;
        left: 60px;
    }

    .inscription-steps {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0 10em;
    }

    .inscription-item {
        margin: 1em;
    }

    .payments-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*HASTA 480px INCUIDOS*/
@media (max-width: 480px) {

    .course {
        height: 250px;
    }

    .course-info {
        top: 100px;
        left: 40px;
    }

    .course-info h1 {
        font-size: 25px;
    }

    .course-info h3 {
        font-size: 16px;
    }

    .inscription-steps {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0 10em;
    }

    .inscription-item {
        margin: 1em;
    }

    .payments-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}