.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.course-registration {
    margin: 40px;
}

.field {
    display: flex;
    gap: 20px;
    padding-top: 20px;

    input {
        padding: 5px;
        width: 500px;
        height: 30px;
        border-radius: 5px;
        outline: none;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        align-self: center;
    }
}

.add-person {
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
        cursor: pointer;
    }

    p {
        margin-left: 10px;
        cursor: pointer;
    }
}

.registration-fee {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;

    .fee-amount {
        padding: 5px;
        width: 40px;
        height: 20px;
        color: white;
        background-color: #000;
    }

    .btn-confirm {
        cursor: pointer;
        color: white;
        padding: 10px;
        background-color: gray;
        border-radius: 10px;
        height: 40px;
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .btn-confirm:hover {
        background-color: rgb(75, 75, 75);
    }
}