.course-registration {
    padding: 5em 10em;
}

.course-registration h2{
margin-bottom: 0.5em;
}

.field {
    display: flex;
    gap: 1.25em;
    padding-top: 1em;

    input {
        padding: .3125rem;
        width: 31.25rem;
        height: 1.875rem;
        border-radius: .3125rem;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        align-self: center;
    }


}

.add-person {
    margin-top: 1.25em;
    display: flex;
    align-items: center;

    img {
        cursor: pointer;
    }

    p {
        margin-left: .625rem;
        cursor: pointer;
    }
}

.registration-fee {
    margin-top: 1.25rem;
    display: flex;
    gap: 1.25rem;
    align-items: center;

    .fee-amount {
        padding: .3125rem;
        width: 2.5rem;
        height: 1.25rem;
        color: white;
        background-color: #000;
    }
  
}