.nav-bar {
    background-color: #808080;
    color: #ffffff;
    padding: 0.25em;
}

.fila-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 5em;
    font-weight: bold;
}

.fila-nav li {
    text-decoration: none;
}