.nav-bar {
    background-color: #808080;
    color: #ffffff;
    padding: 0.25em;
}

.fila-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 5em;
    font-weight: bold;
}

.fila-nav li {
    text-decoration: none;
}


/*DESDE 481px HASTA 768px INCUIDO*/
@media (min-width: 480px) and (max-width: 768px) {
    .fila-nav {
        gap: 3em;
    }
}

/*HASTA 480px INCUIDO*/
@media (max-width: 480px) {
    .fila-nav {
        gap: 2em;
    }

}