.form-registro {
    background-color: #f4f4f4;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contenedor {
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registroFormulario{
    margin-right: 3%;
}

.mensaje{
    font-size: small;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-aceptar {
    background-color: #28a745;
    color: white;
}
.boton-cancelar {
    background-color: #dc3545;
    color: white;
}
